<a href="https://colab.research.google.com/github/meghannguyen12/Codepath-Cybersecurity-2022-prework-assignment/blob/main/BTC_model_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [52]:
import random

In [57]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [5]:
from google.colab import files
dataset = files.upload()

Saving BTC-Scenarios - dampenedE3Replay.csv to BTC-Scenarios - dampenedE3Replay.csv

In [18]:
datasets = pd.read_csv('BTC-Scenarios - dampenedE3Replay.csv')

In [22]:
datasets.head()

,DATE,PRICE,HASHRATE,DIFFICULTY,-81.68%,-96.09%,-95.21%
0,1/11/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%
1,1/12/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%
2,1/13/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%
3,1/14/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%
4,1/15/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%

Divide the model into test and training sets

In [25]:
column_names = list(datasets.columns)
column_names

['DATE', ' PRICE ', 'HASHRATE', 'DIFFICULTY', '-81.68%', '-96.09%', '-95.21%']

In [32]:
datasets.columns = ['date', 'price', 'hashrate', 'difficulty', '-81.68%', '-96.09%', '-95.21%']

In [33]:
datasets.head()

,date,price,hashrate,difficulty,-81.68%,-96.09%,-95.21%
0,1/11/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%
1,1/12/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%
2,1/13/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%
3,1/14/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%
4,1/15/2009,$ -,0.00000000000000000000000,1,#DIV/0!,#DIV/0!,0.00%

In [36]:
X = datasets.date
Y = datasets.price

In [37]:
from sklearn.model_selection import train_test_split

Data split into training and testing

In [48]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [50]:
X_train.shape, Y_train.shape

((5599,), (5599,))

In [51]:
X_test.shape, Y_test.shape

((1400,), (1400,))

In [58]:
model = LinearRegression()

In [59]:
model.fit(X_train, Y_train)

ValueError: ignored